{% extends 'base.html.twig' %}

{% block title %}Avistamientos{% endblock %}

{% block body %}
    <h1>Avistamientos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avistamiento.id }}</td>
            </tr>
            <tr>
                <th>Fechas</th>
                <td>{{ avistamiento.Fechas ? avistamiento.Fechas|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ avistamiento.Longitud }}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ avistamiento.Latitud }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avistamientos_index') }}">back to list</a>

    <a href="{{ path('app_avistamientos_edit', {'id': avistamiento.id}) }}">edit</a>

    {{ include('avistamientos/_delete_form.html.twig') }}
{% endblock %}
